<template name="ingredientSubmit">
  <form class="main form page">
    <div class="form-group">
      <label for="name" class="control-label">Name</label>
      <div class="controls"><input type="text" name="ingredientName" id="ingredientName" value="" placeholder="Type ingredient name here" class="form-control"></div>
    </div>
    <div class="form-group">
      <label for="measurement" class="control-label">Measurement</label>
      <div class="controls"><input type="text" name="measurement" id="measurement" value="" placeholder="Type quantification of measurement here (pounds, ounces, count, etc.)" class="form-control"></div>
    </div>
    <input type="submit" value="Add Ingredient" class="btn btn-primary" />
  </form>
</template>
